.unity-button:hover {
    opacity: 0.53;
}

.unity-label {
    color: rgb(255, 255, 255);
}

.unity-progress-bar__background {
    background-color: rgba(156, 156, 156, 0.5);
}

.unity-progress-bar__title {
    color: rgb(0, 0, 0);
    font-size: 24px;
}

#unity-progress-bar {
    max-height: 48px;
}
